@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-display: "Vazirmatn";
    --breakpoint-3x1: 1920px;
    --color-primary: #1368EC;
}

@layer base{
    html{
        font-family: var(--font-display), serif;
    }

    body{
        background-color: #e8e8e8;
        overflow-x: hidden;
    }
}

.card{
    @apply bg-white rounded-2xl shadow-md shadow-gray-100 border border-gray-200/50 p-6;
}